/*Common CSS*/

body {
    background-image: url(Assets/brickwall.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.backButton {

    background-image: url(Assets/backButton.png);

}

.nextButton {

    background-image: url(Assets/NextButton.png);
    
}

h1 {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.basicBox {
    background-color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;;
}

/*App/Home page*/

#introGuide {
    text-align: center;
}

#introPlate {
    position: relative;
    margin-top: 75px;
    width: 600px;
    height: 600px;
}

#ButtonChooser {
    top: 0;
    left: 0;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
}

#infoButton {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: royalblue;
    grid-row: 2;
    grid-column: 2;
}

#frankieButton {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: red;
    grid-row: 1;
    grid-column: 2;

}

#leftButton {
    grid-row: 2;
    grid-column: 1;
    
}

#rightButton {
    grid-row: 2;
    grid-column: 3;
}

#buttomButton {
    grid-row: 3;
    grid-column: 2;
}

.Inactive {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: gray;
}

/*Character page*/

.statBox {
    background-color: #94CACA 50%;
    border-style: solid black ;
    border-radius: 5px;
}

.Colums {
    display: flex;
    flex-direction: column;
}

.Rows {
    display: flex;
    flex-direction: row;
    margin: 15px;
    justify-content: center;
}

/*Bio page*/

/*Info page*/