/*Common CSS*/

body {
    background-image: url(Assets/brickwall.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.backButton {

    background-image: url(Assets/backButton.png);

}

.nextButton {

    background-image: url(Assets/NextButton.png);
    
}

h1 {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.basicBox {
    background-color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;;
}

/*App/Home page*/

#introGuide {
    background-image: url(Assets/introplate.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    width: 600px;}

#ButtonChooser {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#infoButton {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: royalblue;
}

#frankieButton {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: red;
}

.Inactive {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: gray;
}

/*Character page*/

.statBox {
    background-color: #94CACA 50%;
    border-style: solid black ;
    border-radius: 5px;
}

.Colums {
    display: flex;
    flex-direction: column;
}

.Rows {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*Bio page*/

/*Info page*/